*{
    box-sizing: border-box;
}

.common-padding{
    padding: 15px 30px;
}

.common-border-radius{
    border-radius: 4px
}

.common-box-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.tag:before{
  content: "[";
}

.tag:after{
    content: "]";
}

.cursorp{
    cursor: pointer;
}

.over-3rows-handle{
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.over-row-handle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover-enlarge{
    transition: all 0.2s ease;
}

.hover-enlarge:hover{
    transform: scale(1.02);
}