*{
    box-sizing: border-box;
}

.common-padding{
    padding: 15px 30px;
}

.common-border-radius{
    border-radius: 4px
}

.common-box-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
