.flex-row-row-center{
    display: flex;
    justify-content: center;
}

.flex-row-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-row-center{
    display: flex;
    align-items: center;
}

.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}