.button-blue {
    margin: 0;
    border: 1px solid transparent;
    outline: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px 12px;
    background-color: #3367d6;
    color: white;
    border-radius: .25rem;
    position: relative;

}

.button-blue:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 0.2s ease;
}

.button-blue:hover::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}

