.common-padding{
    padding: 1rem 2rem;
}

.common-padding-horizontal{
    padding-right: 2rem;
    padding-left: 2rem;
}

.common-padding-vertical{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 750px) {
    .common-padding{
        padding: 1rem;
    }
    .common-padding-horizontal{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}