.slide-up{
    animation: slide-up-animation var(--animate-time) ease-out forwards;
}

@keyframes slide-up-animation {
    0%{
        opacity: 0.01;
        transform: translateY(60px);
    }

    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}